
.icon-x:before { content: '\e800'; } /* '' */
.icon-checkmark:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-list:before { content: '\f009'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */