.all-lists-header{
  background-image: url("https://source.unsplash.com/505eectW54k");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40vh;
}

.all-lists-overlay{
  background-color: rgba(206, 209, 222, .6);
  min-height: 40vh;
}

.all-lists-container{
  text-align: center;
}

.all-lists-container .single-list{
  width: 80%;
  margin-left: 10%;
  border: 1px solid #3E383A;
  border-radius: 10px;
  margin-bottom: 24px;
}

.all-lists-container h3{
  font-family: 'Abril Fatface', serif;
  color: #3E383A;
  letter-spacing: 2px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 4px;
  margin-top: 6px;
  border-bottom: 1px solid #446CB6;
}

.all-lists-container p{
  font-family: 'Pavanam', sans-serif;
  color: #3E383A;
  letter-spacing: 2px;
  padding-bottom: 2px;
  margin-top: 6px;
  text-align: left;
  padding-left: 5%;
}
