// STYLES - CREATE LIST AND EDIT LIST

// CREATE-FORM
.create-form{
  margin: 16px;
}

.create-form *{
  font-family: 'Pavanam', sans-serif;
  letter-spacing: 2px;
}

.create-form_list-name h2{
  margin-bottom: 8px;
}

.create-form_tasks h2{
  margin-bottom: 8px;
}

.create-form_tasks-block{
  border: 2px solid #CCCCCC;
  max-height: 34vh;
  overflow-y: scroll;
}

.create-form_tasks-add{
  font-family: 'Pavanam', sans-serif;
  margin: 8px;
}

// TASK ROWS
.task-row *{
  display: inline-block;
}

.task-row{
  border-bottom: 2px solid #CCCCCC;
  padding: 8px;
}

// BUTTONS
.create-form_buttons{
  text-align: center;
}

.create-form_buttons *{
  display: inline-block;
}

.create-form_buttons h2{
  margin: 0;
}

.create-form_submit{
  background-color: $color-primary-0;
  border: 3px solid $color-primary-1;
  border-radius: 8px;
  color: #FFF;
  margin-right: 8px;
  padding: 8px;
}

.create-form_cancel{
  background-color: #b0b0b0;
  border: 3px solid #CCC;
  border-radius: 8px;
  color: #717171;
  margin-left: 8px;
  padding: 8px;
}


// VALIDATION & ERROR MESSAGES
.create-form_error-message {
  color: #FF0000;
  display: inline-block;
}
