// STYLES - CREATE LIST AND EDIT LIST

// CREATE-FORM & EDIT-FORM
.create-form, .edit-form{
  margin: 16px;
}

.create-form *, .edit-form *{
  font-family: 'Pavanam', sans-serif;
  letter-spacing: 2px;
}

.create-form_list-name h2, .edit-form_list-name h2{
  margin-bottom: 8px;
}

.create-form_tasks h2, .edit-form_tasks h2{
  margin-bottom: 8px;
}

.create-form_tasks-block, .edit-form_tasks-block{
  border: 2px solid #CCCCCC;
  max-height: 34vh;
  overflow-y: scroll;
}

.create-form_tasks-add, .edit-form_tasks-add{
  font-family: 'Pavanam', sans-serif;
  margin: 8px;
}

.create-form input, .edit-form input{
  border-bottom: 2px solid #bbbbbb;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-size: 24px;
  outline-width: 0;
  width: 100%;
}

.create-form_sharing{
  margin-bottom: 24px;
}

.create-form_sharing h2{
  margin-bottom: 8px;
}

// TASK ROWS
.task-row *{
  display: inline-block;
}

.task-row{
  border-bottom: 2px solid #CCCCCC;
  padding: 8px;
}

.task-row_name{
  width: 100%;
}

.task-row_name input{
  border: 0;
  font-size: 24px;
  margin: 0;
  outline-width: 0;
}

// BUTTONS
.create-form_buttons, .edit-form_buttons{
  text-align: center;
}

.create-form_buttons *, .edit-form_buttons *{
  display: inline-block;
}

.create-form_buttons h2, .edit-form_buttons h2{
  margin: 0;
}

.create-form_submit, .edit-form_submit{
  background-color: $color-primary-0;
  border: 3px solid $color-primary-1;
  border-radius: 8px;
  color: #FFF;
  margin-right: 8px;
  padding: 8px;
}

.create-form_cancel, .edit-form_cancel{
  background-color: #b0b0b0;
  border: 3px solid #CCC;
  border-radius: 8px;
  color: #717171;
  margin-left: 8px;
  padding: 8px;
}

// VALIDATION & ERROR MESSAGES
.create-form_error-message, .edit-form_error-message{
  color: #FF0000;
  display: inline-block;
}
