/* Styles - Navbar Top */
.nav-top{
  background-color: $color-primary-3;
  font-family: 'Pavanam', sans-serif;
  letter-spacing: 2px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  border-bottom-style: outset;
}

.nav-top_menu-button{
  color: #FFFFFF;
  display: inline-block;
  font-size: 40px;
  margin-left: 8px;
  padding: 10px;
  vertical-align: top;
}

.nav-top_right-buttons{
  display: inline-block;
  margin-right: 8px;
  position: absolute;
  right: 8px;
  top: 14px;
  vertical-align: top;
}

.right-buttons_sign-up,
.right-buttons_log-in,
.nav-logout,
.nav-all-lists,
.nav-create-list{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  color: #FFF;
  display: inline-block;
  font-size: 20px;
  line-height: 16px;
  padding: 12px;
  vertical-align: top;
}

.right-buttons_log-in{
  margin-left: 8px;
}

.right-buttons_sign-up:hover{
	color: $color-primary-2;
  background-color: #FFF;
	cursor: pointer;
}

.right-buttons_log-in:hover{
	color: $color-primary-2;
  background-color: #FFF;
	cursor: pointer;
}

.nav-logout:hover{
  color: $color-primary-2;
  background-color: #FFF;
  cursor: pointer;
}

.nav-all-lists:hover{
  color: $color-primary-2;
  background-color: #FFF;
  cursor: pointer;
}

.nav-create-list:hover{
  color: $color-primary-2;
  background-color: #FFF;
  cursor: pointer;
}

.nav-top_menu-button:hover{
  cursor: pointer;
}

// TABLET STYLES
@media screen and (min-width: 768px){

}

// DESKTOP VIEWS
@media screen and (min-width: 1000px){

}
