// STYLES - PAGE HEADER
.page-header {
  margin: 16px;
  text-align: center;
}

.page-header h1{
  font-family: 'Abril Fatface', serif;
  font-weight: 100;
  font-size: 54px;
  letter-spacing: 4px;
  color: #3E383A;
  padding-top: 32px;
  margin: 0;
}

.page-header h2{
  font-family: 'Pavanam', sans-serif;
  font-size: 18px;
  color: #3E383A;
  letter-spacing: 2px;
  margin: 0;
}
