// STYLES - SINGLE LIST VIEW

// INFO BAR
.info-bar{
  margin: 16px;
}

.info-bar_shared-with, .info-bar_edit-btn{
  display: inline-block;
  vertical-align: middle;
}

.info-bar_shared-with{
  font-family: 'Pavanam', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  width: 80%;
}

.info-bar_edit-btn{
  text-align: center;
  width: 20%;
}

.info-bar_edit-btn h4{
  background-color: $color-primary-2;
  border: 3px solid $color-primary-1;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Pavanam', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  padding: 8px;
}

// LIST CONTAINER
.list-container{
  margin: 16px;
}

.list-container *{
  font-family: 'Pavanam', sans-serif;
  letter-spacing: 2px;
}

// LIST HEADER
.list-header{
  background-color: $color-primary-2;
  border: 4px solid $color-primary-1;
  color: #FFF;
  width: 100%;
}

.list-header *{
  display: inline-block;
  font-size: 36px;
  margin: 0;
}

.list-header_main-icon{
  text-align: left;
  width: 10%;
}

.list-header_title{
  text-align: center;
  width: 80%
}

.list-header_delete-icon{
  text-align: right;
  width: 10%;
}

// TASKS/TO-DO'S
.todo-singleview *{
  display: inline-block;
}

.todo-singleview{
  border-bottom: 2px solid #CCCCCC;
  border-left: 2px solid #CCCCCC;
  border-right: 2px solid #CCCCCC;
}

.todo_checkbox, .todo_name, .todo_important{
  margin: 0;
}

.todo_name{
  margin-left: 16px;
  width: 100%;
}

.todo_completed{
  display: block;
  margin-top: 0;
  text-align: right;
}

.task-done{
  background-color: #51eebb;
}

.task-done .todo_name h2{
  color: #777;
  text-decoration: line-through;
}

.todo_checkedOff{
  width: 40px;
}

.todo_checkedOff i{
  font-size: 32px;
}

.todo_important{
  color: #FF0000;
  font-size: 24px;
}

.task-done .todo_completed p{
  font-family: 'Pavanam', sans-serif;
  letter-spacing: 2px;
}
