// STYLES - SINGLE LIST VIEW

// INFO BAR
.info-bar{
  margin: 8px auto 16px auto;
  width: 90%;
}

.info-bar_shared-with, .info-bar_edit-btn{
  display: inline-block;
  vertical-align: middle;
}

.info-bar_shared-with{
  font-family: 'Pavanam', sans-serif;
  font-size: 24px;
}

.info-bar_edit-btn{
  position: absolute;
  right: 0;
}

.info-bar_edit-btn h4{
  background-color: $color-primary-2;
  border: 3px solid $color-primary-1;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Pavanam', sans-serif;
  font-size: 24px;
  padding: 8px;
}

// LIST CONTAINER
.list-container{
  margin: 16px;
}

.list-container *{
  font-family: 'Pavanam', sans-serif;
}

// LIST HEADER
.list-header{
  background-color: $color-primary-2;
  border: 4px solid $color-primary-1;
  color: #FFF;
  width: 100%;
}

.list-header *{
  display: inline-block;
}

// TASKS/TO-DO'S
.todo-singleview *{
  display: inline-block;
}

.todo-singleview{
  border-bottom: 2px solid #CCCCCC;
  border-left: 2px solid #CCCCCC;
  border-right: 2px solid #CCCCCC;
}

.todo_checkbox, .todo_name, .todo_important{
  margin: 0;
}

.todo_completed{
  display: block;
  margin-top: 0;
  text-align: right;
}

.task-done{
  background-color: $color-secondary-2-1;
}

.task-done .todo_name h2{
  color: #777;
  text-decoration: line-through;
}

.todo_important{
  color: #FF0000;
  font-size: 24px;
}

.task-done .todo_completed p{
  font-family: 'Pavanam', sans-serif;
}
