.welcome-header{
  width: 100%;
}

.welcome-header{
text-align: center;
}

.welcome-header h1{
  font-family: "Oranienbaum", sans-serif;
  font-size: 54px;
}

.welcome-header h2{
  font-family: "Antic Didone", sans-serif;
  font-size: 18px;
}

.welcome-header{
  background-image: url("https://source.unsplash.com/RLw-UC03Gwc");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40vh;
}

.welcome-header{
  background-color: rgba(206, 209, 222, .8);
  font-family: "Italiana", sans-serif;
  min-height: 40vh;
}
