// IMPORTS - PALETTES
@import "./paletton-01";

// IMPORTS - COMPONENTS
@import "./page-header";

// IMPORTS - NAVBAR
@import "./navbar";

// IMPORTS - VIEW STYLES
@import "./single-list-view";
@import "./welcome";

// STYLES - UNIVERSAL
#app-container, body{
	margin: 0;
}

* {box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

.coluns-container{
	font-size: 0;
}
