// IMPORTS - PALETTES
@import "./paletton-01";

// IMPORTS - COMPONENTS
@import "./page-header";
@import "./footer";

// IMPORTS - NAVBAR
@import "./navbar";

// IMPORTS - VIEW STYLES
@import "./single-list-view";
@import "./welcome";
@import "./create-and-edit";

// STYLES - UNIVERSAL
#app-container{margin-top: 72px}

body{margin: 0;}

* {box-sizing: border-box;
}

img {
	width: 100%;
	display: block;
}

.coluns-container{
	font-size: 0;
}
